.advantages {
	padding-top: 100px;
	&__title{
		display: flex;
		justify-content: flex-end
	}

	&__text {
		@include adaptive-font(22, 18);
		line-height: 28px;
		text-align: center;
	}
	&__column {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}
	&__icon {
		svg {
			width: 100px;
			height: 100px;
			path {
				color: $headerTextColor;
				stroke: $headerTextColor;
			}
		}
		&--personal{
			svg {
				width: 100px;
				height: 100px;
				
			}
		}
	}
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 2px solid #000;
		text-align: center;
		margin-left: 20px;
		padding-top: 50px;
		padding-bottom: 30px;
		flex: 1 1 25%;
		&:first-child {
			margin-left: 0;
		}
		span {
			color: $accent;
		}
		&__icon{

		}
	}

	&__box-title {
		font-weight: 600;
		font-size: 22px;
		line-height: 28px;
		margin-top: 30px;
		margin-right: 10px;
		margin-left: 10px;
	}
	&__box-text {
		margin: 10px 20px 10px 20px;
		font-size: 18px;
	}
}

@include lg-d {
	.advantages {
		.container {
			max-width: 880px;
		}
		&__column {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__box {
			flex: 1 1 43%;
			margin: 30px 30px;
			&:first-child {
				margin-left: 30px;
			}
		}
	}
}
@include md-d {
	.advantages {
		&__button {
			margin-bottom: 56px;
		}
		&__box {
			flex-basis: 280px;
			&:first-child {
				margin-left: 30px;
			}
		}
	}
}

@include sm-d {
	.advantages {
		&__box {
			flex-basis: 345px;
			margin: 15px 15px;
			&:first-child {
				margin-left: 15px;
			}
		}
	}
}
