.form {
	background: rgb(94, 93, 93);
	margin-top: 100px;
	padding: 20px 10px 24px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include sm-d {
		margin-top: -50px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		color: $accent;
		font-size: 25px;
		margin-top: 20px;
	}
	p {
		color: rgba(255, 255, 255, 0.8);
		margin-top: 10px;
		margin-bottom: 25px;
		font-size: 20px;
		line-height: 26px;
	}
	form{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	input {
		margin-top: 7px;
		padding-left: 23px;
		border-radius: 5px;
		width: 320px;
		height: 50px;
		border: 2px solid $accent;
		background: rgb(212, 212, 212);
		&::placeholder {
			color: rgba(34, 34, 34, 0.8);
			font-size: 14px;
		}
		&:active,
		&:focus{
			border: 2px solid yellow;
		}
	}
	&__button {
		margin-top: 30px;
		width: 274px;
		align-self: center;
	}
}
