//Color dasctop background
$headerColor: #ffffff;
//Color dasctop Link
$headerTextColor: #000000;
//Color hover animation in link (border) --- Цвет анимации при наведении на ссылки
$headerLinkLineColor: $accent;

//Scroll HEADER --- настройки Фиксированнной шапки
//Border bottom HEADER dasctop ---Цвет нижнего бордера
$headerColorBordBottom: #ffffff;
//Background collor in slide header --- Цвет шапки при скролле
$headerSlideColor: #ffffff;

//ADAPTIVE header
//Burger color --- Цвет бургера
$headerBurgerColor: #fff;
//Menu background color
$headerBurgerMenuBg: $accent;

.lock {
	overflow: hidden;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: 0.15s linear;
	margin-top: -15px;
	box-shadow:  0px 0px 8px -3px rgba(50, 50, 50, 0.75);
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $headerColor;
		z-index: 2;
	}	
	&__body {
		margin-top: 15px;
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 60px;
		align-items: center;
	}

	&__burger {
		display: none;
	}
	&__logo {
		z-index: 3;
		display: flex;
		align-items: center;
		a {
			color: #000000;
			display: flex;
			align-items: center;
			font-size: 20px;
			font-weight: bold;
		}

		video {
			width: 50px;
			height: 50px;
			margin-right: 5px;
		}
		img{
			width: 30px;
			margin-left: 5px;
		}
	}
	&__menu {
		display: flex;
		@include md-d {
			flex-direction: column;
		}
	}
	&__list {
		margin-top: 3px;
		display: flex;
		position: relative;
		z-index: 2;
		flex-wrap: wrap;
		& li a {
			font-size: 16px;
			line-height: 23px;
			white-space: nowrap;
			text-transform: uppercase;
			transition: 0.3s linear;
			&:hover{
				color: $accent;
				transition: 0.3s linear;
			}
		}
		@include md-d {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		@include lg-d {
			flex-wrap: wrap;
		}
	}
	&__link {
		font-weight: bold;
		position: relative;
		margin-left: 35px;
		color: $headerTextColor;
		a:focus,
		a:active,
		a:visited {
			color: $headerTextColor;
		}
		&::after {
			display: block;
			content: "";
			position: absolute;
			background-color: rgb(237, 255, 35);
			height: 2px;
			width: 0%;
			top: 30px;
			left: 50%;
			transition: width 0.3s ease-in-out;
			transform: translateX(-50%);
		}
		&:hover::after {
			width: 100%;
		}
	}
	&__contacts {
		margin-left: 65px;
		font-weight: 450;
		font-size: 20px;
		line-height: 26px;
		white-space: nowrap;
		display: flex;
		z-index: 2;
		@include md-d {
			font-size: 30px;
			margin-left: 0;
			align-self: center;
			margin-bottom: 30px;
		}
	}
	&__phone {
		display: flex;
		align-self: center;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		position: relative;
		width: 35px;
		height: 35px;
		display: block;
		text-align: center;
		margin: 0 10px;
		border-radius: 50%;
		padding: 6px;
		box-sizing: border-box;
		box-shadow: 0 10px 10px rgba(0,0,0,0.3);
		background: linear-gradient(0deg, #fff, #ddd);
		transition: 0.3s linear;
		svg{
			transition: 0.3s linear;
			margin-top: -6px;
			border-radius: 50%;
		}
		a{
			transition: 0.3s linear;
		}
		&:hover{
			box-shadow: 0 2px 5px rgba(0,0,0,0.3);
			transition: 0.3s linear;			
		}		
	}
	&__call{
		
		svg{
			transition: 0.3s linear;
			width: 15px;
			height: 15px;
			path{
				transition: 0.3s linear;
				fill: #000000;
			}
		}
		&:hover{
			svg{		
				transition: 0.3s linear;	
				path{
					transition: 0.3s linear;
					fill: #6ccb6a;
				}
			}
		}
	}
	&__inst{
		transition: 0.3s linear;
		svg{	
			transition: 0.3s linear;		
			path{
				transition: 0.3s linear;
				fill: #000000;
			}
		}
		&:hover{
			transition: 0.3s linear;
			svg{	
				transition: 0.3s linear;		
				path{
					transition: 0.3s linear;
					fill: #f50a0a;
				}
			}
		}
	}
	@include md-d {
		.header {
			&__body {
				height: 40px;
			}
			&__burger {
				display: block;
				position: relative;
				width: 30px;
				height: 20px;

				z-index: 5;
			}
			&__burger span {
				position: absolute;
				background-color: $headerBurgerColor;
				left: 0;
				width: 100%;
				top: 9px;
				height: 2px;
				transition: all 0.3s ease 0s;
			}
			&__burger::before,
			&__burger::after {
				content: "";
				background-color: $headerBurgerColor;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&__burger::before {
				top: 0;
			}
			&__burger::after {
				bottom: 0;
			}
			&__burger.active span {
				transform: scale(0);
			}
			&__burger.active::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&__burger.active::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
			&__menu {
				position: fixed;
				top: -100%;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $headerBurgerMenuBg;
				padding: 70px 10px 20px 10px;
				transition: all 0.3s ease 0s;
				overflow: auto;
			}
			&__menu.active {
				top: 0;
			}
			&__list {
			}
			&__list li {
				margin: 0px 0px 55px 0px;
			}
			&__link {
				margin-left: 0;
				font-size: 30px;
			}
		}
	}
}

@include xl-d {
	.header {
		&__link {
			margin-left: 25px;
		}
		&__contacts {
			margin-left: 30px;
		}
	}
}
@include lg-d {
	.header {
		&__body {
			height: 70px;
		}
		&__logo {
			flex: 0 0 179px;
		}
		&__link {
			margin-left: 12px;
		}
		&__language {
			margin-left: 20px;
		}
		&__contacts {
			margin-left: 22px;
		}
	}
}
@include md-d {
	.header {
		&__active {
			margin-top: 0;
		}
		&__body {
			margin-top: 0;
		}
	}
}



	.social__icon{
		a{
			position: relative;
			width: 50px;
			height: 50px;
			display: block;
			text-align: center;
			margin: 0 10px;
			border-radius: 50%;
			padding: 6px;
			box-sizing: border-box;
			box-shadow: 0 10px 15px rgba(0,0,0,0.3);
			background: linear-gradient(0deg, #fff, #ddd);
			transition: 0.5s linear;
			&:hover{
				box-shadow: 0 2px 5px rgba(0,0,0,0.3);
			}
		}
	}
