//Color dasctop background
$headerColor: rgba(255, 255, 255, 0);
//Color dasctop Link
$headerTextColor: #201f1f;
//Color hover animation in link (border) --- Цвет анимации при наведении на ссылки
$headerLinkLineColor: $accent;

//Scroll HEADER --- настройки Фиксированнной шапки
//Border bottom HEADER dasctop ---Цвет нижнего бордера
$headerColorBordBottom: #201f1f;
//Background collor in slide header --- Цвет шапки при скролле
$headerSlideColor: rgba(255, 255, 255, 0.95);

//ADAPTIVE header
//Burger color --- Цвет бургера
$headerBurgerColor: $accent;
//Menu background color
$headerBurgerMenuBg: rgba(255, 255, 255, 0.95);

.lock {
	overflow: hidden;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: 0.15s linear;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $headerColor;
		z-index: 2;
	}
	&__active {
		margin-top: -15px;
		background: $headerSlideColor;
		border-bottom: 2px solid $headerColorBordBottom;
	}
	&__body {
		margin-top: 15px;
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 70px;
		align-items: center;
	}

	&__burger {
		display: none;
	}
	&__logo {
		z-index: 3;
		white-space: nowrap;
		font-family: "gta5-font";
		font-size: 40px;

		a {
			color: #fff;
			-webkit-text-stroke: 1px rgba(0, 0, 0, 0.438);
			transition: 0.3s ease-in-out;
			&:hover {
				color: $accent;
			}
		}
	}
	&__menu {
		display: flex;
	}
	&__list {
		display: flex;
		position: relative;
		z-index: 2;
		flex-wrap: wrap;
		& li a {
			font-size: 18px;
			line-height: 23px;
			white-space: nowrap;
			&:hover {
				color: $headerTextColor;
			}
		}
		@include lg-d {
			flex-wrap: wrap;
		}
	}
	&__link {
		position: relative;
		margin-left: 35px;
		color: $headerTextColor;
		a:focus,
		a:active,
		a:visited {
			color: $headerTextColor;
		}
		&::after {
			display: block;
			content: "";
			position: absolute;
			background-color: $headerLinkLineColor;
			height: 2px;
			width: 0%;
			top: 25px;
			left: 50%;
			transition: width 0.3s ease-in-out;
			transform: translateX(-50%);
		}
		&:hover::after {
			width: 100%;
		}
	}
	&__contacts {
		margin-left: 65px;
		font-weight: 450;
		font-size: 20px;
		line-height: 26px;
		white-space: nowrap;
		display: flex;
		z-index: 2;
	}
	&__phone {
		display: flex;
		align-self: center;
		flex-wrap: nowrap;
		svg {
			width: 18px;
			height: 18px;
			path {
				fill: $headerTextColor;
			}
		}
	}
	&__tel {
		color: $headerTextColor;
		padding-top: 2px;
		margin-left: 5px;
		&:hover {
			color: $accent;
		}
	}
	@include md-d {
		.header {
			&__body {
				height: 40px;
			}
			&__burger {
				display: block;
				position: relative;
				width: 30px;
				height: 20px;

				z-index: 5;
			}
			&__burger span {
				position: absolute;
				background-color: $headerBurgerColor;
				left: 0;
				width: 100%;
				top: 9px;
				height: 2px;
				transition: all 0.3s ease 0s;
			}
			&__burger::before,
			&__burger::after {
				content: "";
				background-color: $headerBurgerColor;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&__burger::before {
				top: 0;
			}
			&__burger::after {
				bottom: 0;
			}
			&__burger.active span {
				transform: scale(0);
			}
			&__burger.active::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&__burger.active::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
			&__menu {
				position: fixed;
				top: -100%;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $headerBurgerMenuBg;
				padding: 70px 10px 20px 10px;
				transition: all 0.3s ease 0s;
				overflow: auto;
			}
			&__menu.active {
				top: 0;
			}
			&__list {
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
			}
			&__list li {
				margin: 0px 0px 20px 0px;
			}
			&__link {
				margin-left: 0;
				font-size: 30px;
			}
		}
	}
}

@include xl-d {
	.header {
		&__link {
			margin-left: 25px;
		}
		&__contacts {
			margin-left: 30px;
		}
	}
}
@include lg-d {
	.header {
		&__body {
			height: 70px;
		}
		&__logo {
			flex: 0 0 179px;
		}
		&__link {
			margin-left: 12px;
		}
		&__language {
			margin-left: 20px;
		}
		&__contacts {
			margin-left: 22px;
		}
	}
}
@include md-d {
	.header {
		&__active {
			margin-top: 0;
		}
		&__body {
			margin-top: 0;
		}
	}
}
