.info {
	padding-top: 100px;
	&__wrapper {
		margin-top: 40px;
	}
	&__content {
		padding-left: 40px;
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}
	&__paragraph{
		margin-top: 40px;
	}
	@include md-d{
		margin-bottom: 80px;
	}
}
