.intro {	
	background: url("../img/office.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
	// height: 100vh;
	position: relative;
	@include sm-d {
		padding-top: 0;
	}
	&__wrapper {		
		display: flex;
		justify-content: space-between;
		// height: 100vh;
		@include sm-d {
			flex-wrap: wrap;
		}
		
	}
	&__content {
		position: relative;
		z-index: 8;
		display: flex;
		flex-direction: column;
		margin-left: 50px;
		margin-bottom: 380px;
		@include md-d {
			margin-top: 200px;
			align-items: center;
		}
		@include sm-d {
			margin-top: 170px;
			margin-left: 0;
		}
	}
	
	&__title {
		margin-top: 120px;
		// filter: drop-shadow(0px 0px 5px rgb(255, 0, 230));
		@include md-d{
			margin-top: 80px;
		}
		max-width: 700px;
		img{
			max-width: 100%;
		}
	}
	&__subtitle {
		margin-left: 80px;
		margin-top: 15px;
		font-size: 25px;
		color: rgb(215, 230, 252);	
		-webkit-text-stroke: 0.5px rgb(0, 0, 0);

		// padding-top: 80px;
		text-transform: uppercase;
		font-weight: 500;
		@include md-d {
			font-size: 24px;
			text-align: center;
			margin-left: 0;
			text-align: center;
			color: #fff;
		}
		span{
			color: rgb(254, 89, 235);
			font-weight: 700;
			font-size: 32px;
		}
	}
	&__btn {
		position: absolute;
		left: 50%;
		bottom: 13%;		
		z-index: 10;
		transform: translate(-50%, -50%);
		font-weight: bold;
	}
	&__truck{
		max-width: 750px;
		position: absolute;
		z-index: 5;
		bottom: -60px;
		left: 80px;
		img{
			max-width: 100%;
		}
		@include xl-d{
			max-width: 650px;
			left: 40px;
		}
		@include lg-d{
			max-width: 450px;
		}
		@include md-d{
			display: none;
		}
	}
	&__crane{
		max-width: 700px;
		position: absolute;
		z-index: 4;
		bottom: 240px;
		right: 100px;
		img{
			max-width: 100%;
		}
		@include xl-d{
			max-width: 450px;
			right: 20%;
		}
		@include lg-d{
			max-width: 350px;
		}
		@include md-d{
			display: none;
		}
	}
	&__img {
		max-width: 250px;		
		align-self: flex-end;
		position: absolute;
		bottom: 0;
		right: 180px;
		z-index: 5;
		@include xl-d{
			right: 20px;
		}
		@include lg-d{
			max-width: 200px;
		}
		@include md-d {
			max-width: 200px;
		}
		
		img {
			position: relative;
			z-index: 2;
			max-width: 100%;
		}
	}
	&__img-bg{		
		max-width: 350px;
		align-self: flex-end;
		position: absolute;
		z-index: 3;
		bottom: 0;right: 100px;
		@include md-d {
			max-width: 250px;
		}
		@include sm-d {
			display: none;
		}
		img {
			
			position: relative;
			z-index: 3;
			max-width: 100%;
		}
	}
	
}
