.intro {	
	background: url("../img/header-bg.png") no-repeat;
	background-size: cover;
	background-position: center;
	-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
	height: 100vh;
	@include sm-d {
		padding-top: 0;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		height: 100vh;
		@include sm-d {
			flex-wrap: wrap;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		margin-left: 50px;
		@include md-d {
			margin-top: 200px;
			align-items: center;
		}
		@include sm-d {
			margin-top: 170px;
			margin-left: 0;
		}
	}
	&__title {
		
	}
	&__subtitle {
		margin-top: 15px;
		font-size: 25px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		@include md-d {
			font-size: 19px;
			text-align: center;
		}
		span{
			color: yellow;
			font-weight: 700;
			font-size: 28px;
		}
	}
	&__btn {
		margin-top: 20px;
	}
	&__img {
		max-width: 350px;
		align-self: flex-end;
		@include md-d {
			max-width: 250px;
		}
		@include sm-d {
			display: none;
		}
		img {
			max-width: 100%;
		}
	}
}
