.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	border: 2px solid black;
	cursor: pointer;
	transition: all 0.3s ease;
	color: rgb(0, 0, 0);
	&:hover {
		color: #fff;
		background: $accent;
		border: none;
	}
	&--lg {
		width: 208px;
		height: 48px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;

		@include md-d {
			width: 290px;
		}
	}
	&--form {
		width: 274px;
		height: 50px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	}
}
