@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}

h1 {
	text-transform: uppercase;
	font-size: 70px;
	color: rgb(255, 255, 255);	
	margin-top: 250px;
	font-weight: 700;
	@include md-d {
		font-size: 35px;
		margin-top: 0px;
		text-align: center;
	}
}

h2 {
	font-weight: bold;
	@include adaptive-font(30, 20);
	line-height: 43px;
	@include md-d {
		line-height: 25px;
	}
}
