@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Prompt:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: 'gta';
	src: url('/static/fonts/rage-italic.ttf?family=Rage');

}

// font-family: 'Prompt', sans-serif;
// font-family: 'PT Sans Caption', sans-serif;


body {
	// font-family: 'Roboto', sans-serif;
	font-family: 'PT Sans Caption', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}

h1 {
	// font-family: 'gta';
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 120px;
	color: rgb(93, 150, 255);	
	-webkit-text-stroke: 1px rgb(0, 0, 0);
   // text-shadow: 4px 0 rgb(255, 0, 230);	
	// transform: rotate(-10deg);	
	font-weight: 700;
	@include md-d {
		font-size: 80px;
		margin-top: 0px;
		text-align: center;
	}
}

h2 {

	font-weight: bold;
	@include adaptive-font(30, 20);
	line-height: 43px;
	@include md-d {
		line-height: 25px;
	}
}
